@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-position: center ;
}
a{
	text-decoration: none;
}
q{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold ;
	color: purple;
	background-color:white;
}
.hero{
    background-color: gray;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 100px;
}
.logo{
	max-height: 180px;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 40px 30px;
	
}
nav ul li a{
	color: white;
	position: relative;
	padding: 5px 0;
	font-weight: bold;
}
nav ul li a:hover{
	color: yellow;
	background: transparent;
}
nav ul li a:after{
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	background: #fd4766;
	transition: .3s;
	bottom: 0;
}
nav ul li a:hover:after{
	width: 100%;
}
.btn{
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 30px;
	border-radius: 500px;
	display: inline-block;
	font-weight: 500;
	transition: all .4s ease-in-out;
	background-size: 152% 100%;
	background: #fd4766;
	border: 2px solid #fd4766;
}
.btn:hover{
	background: transparent;
	border-color: #fd4766;
	color: yellow;
}
.content{
	position: absolute;
	top: 35%;
	left: 8%;
}
.content .title{
	color: #1f1f25;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: inline-block;
	margin-bottom: 20px;
	background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.title{
	padding-top: 75px;
	text-align: left;
}
.content h1{
	color: yellow;
	font-size: 40px;
	font-weight: 600;
	line-height: 70px;
	text-transform: inherit;
	width: 100%;
}
.content h1 span{
	color: #fd4766;
}
.images{
	width: 50%;
	height: 60%;
	position: absolute;
	bottom: 13%;
	right: 130px;
	
}
.images img{
	height: 100%;
	position: absolute;
	left: 75%;
	bottom: 0;
	transform: translateX(-50%);
	transition: bottom 1s, left 1s;
	padding-bottom: 65px;
}
.images:hover .girl{
	bottom: 20px;
}
